body{
    margin: 0 ;
    padding: 0;
}

#container{
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.trailer-vid{
    width: 100%;
    height: 100%;
    /* background-color: #1E1E1E; */
    position: absolute;
    overflow: hidden;
}

.icon-play img{
    /* border: white solid 3px; */
    width : 10%;
    height: 10%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
}

