*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #232323; */
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #232323;
    overflow-x: hidden;
}

header{
    top: 0;
    position: relative;
}

nav{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10%;
    width: 100%;
    background: rgba(79, 79, 79, 0.47);
}

a{
    text-decoration: none;
}

.isiNav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    /* background-color: aqua; */
}

button {
  padding: 9px 25px ;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s ;
}

button:hover {
  color: white;
  background-color: #232323;
}

.login button{
    /* font-family: ; */
    font-weight: bold;
}

.movie-banner{
    height: 95vh;
    width: 100vw;
    background: linear-gradient(360deg, #232323 6.91%, rgba(0, 0, 0, 0.35) 100%), url(../../assetsWebFinal/MCDJOWI_LG042.webp);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    position: relative;
}

.movie-banner::after{
    content: "";
    background-image:  url(../image/icon-play.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 10%;
    width: 10%;
}

.movie-desc{
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;

}

.movie-desc-wrapper{
    width: 85%;
    height: 95%;
    /* border: yellow solid 2px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.movie-detail{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}


.detail-content{
    height: 10%;
    width: 60%;
    margin-left: 8%;
    margin-top : 1%;
    display: flex;
    flex-direction: column;
}

.detail-content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: calc(1vw + 1vh)
}

.detail-content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: (.5vw + 1vh);
}

.mt-detail{
    margin-top: 15vh;
}

.movie-poster{
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.movie-poster img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.movie-synopsis{
    margin-top: -10%;
    width: 75%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* background-color: blueviolet; */
}

.movie-synopsis-wrapper{
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: white;
}

.movie-synopsis-wrapper h1{
    font-family: 'Lora';
    font-weight: 500;
    letter-spacing: .1em;
    font-size: calc(1.5vw + 5vh);
}

.movie-synopsis-wrapper p{
    font-family: 'Poppins';
    font-weight: 50;
    font-size: calc(1vw + 0.5vh);
    letter-spacing: 2px;
    margin-top: 1%;
    /* background-color: aquamarine; */
}

#get-ticket-button{
    /* height: ; */
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 5%;
    
}

.getTickets button{
    align-items: center;
    background: #232323;
    border: 0.9375px solid rgba(217, 252, 1, 0.4);
    box-shadow: 0px 1.875px 3.75px rgba(0, 0, 0, 0.2), 0px 4.6875px 14.0625px rgba(0, 0, 0, 0.15);
    border-radius: 3.75px;
    /* box-sizing: border-box; */
    color: #D9FC01;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    /* line-height: 1.25; */
    margin: 0;
    min-height: 3rem;
    padding: 2px 24px;
    position: relative;
    text-decoration: none;
    transition: all 0.25s;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
}


.getTickets button:hover {
    background-color: #343333;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: white;
    transform: translateY(-1px);
}



/* footer */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}

.sosmed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-top: 3%;
    margin-bottom: 3%;
}

.sosmed i {
    font-size: 20px;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 6%;
}

.footer-links a{
    font-weight: lighter;
}

.rights{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-line{
    margin-top: 2%;
    margin-bottom: 2%;
}